*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    
    background-color: #62374e;
    display: flex;
    
}
.prvi,
.drugi{
    display: flex;
    flex: 1;
}
.prvi>div,
.drugi>div{
    background-color: #fdc57b;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prvi{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.drugi{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}


