*{
    padding:0;
    margin:0;
    border-sizing: border-box;
}
body{
    background-color:lightpink;
    height:100vh;
    width:100%;
}



a{
    border: solid pink 2px;
    width: 1800px;
    height: 1600px;
    background-color: #E9967A;
    color: #FAEBD7;
}
