*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    display: flex; 
}
@font-face{
    src: url('txtimg/SyneMono-Regular.ttf');
    font-family: font-neki;
}
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

.wrapper{
    display: block;
}
img{
    height: 400px;
    width: 750px;
   
}
.red>div{
    font-size: 12px;
    font-family: "Pongolin", monospace;
    justify-items: center;
    align-items: center;
    
    width: 50vw;
}
 
#red1{
    flex-direction: row-reverse;
}



