*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #62306D;
    justify-content: center;
    align-items: center;
    display: flex;
}
.wrapper{
    height: 60vh;
    width: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #62306D;
}
div{
    height: 20vh;
    width: 20vh;
    background-color:#F7EC7D;
    
}
.wrapper>div:nth-child(2){
    align-self: flex-start;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.wrapper>div:first-child{
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.wrapper>div:last-child{
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

    