*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.wrapper{
    height: 100vh;
    background-image: url(zachary-nelson-192289-unsplash.png);
    background-size: cover;
    background-position: center;
     
    z-index: 4;
    
    
}
.wrapper::before{
    content: "";
    height: 100%;
    width: 100%;
    
    position: absolute;
    background-color: rgba(73, 33, 173, 0.83);
    z-index: 0;
    position: fixed;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: white;
    z-index: 2;
    position: fixed;
    padding: 20px;
}
header > div:first-child{
    width: 14px;
    height: 16px;
    z-index: 2;
   
    
}
header > div:nth-child(2){
    width: 35px;
    height: 35px;
    z-index: 2;
}
header > div:nth-child(3){
    width: 19px;
    height: 21px;
    z-index: 2;
}
header .menu{
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #fff;
    height: 356px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #5F41B6;
    font-family: 'Montserrat', sans-serif;
    z-index: 3;
    
}
.article>a,
   .audio>a{
       
       color: #C6C6D4;
    }
 li 
 {
    list-style: none;
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
    
}
a{
    text-decoration: none;
    width: 50px;
    height: 19px;
}









@media  screen and (min-width:820px) {
    body{
        position: relative;

    }
    header{
        width: 25vw;
        height: 15vw;
        position: absolute;
        left: 35vw;
        border-bottom-right-radius:30%;
        border-bottom-left-radius: 30%;
        justify-content: center;
        align-items: center;
        background-color: unset;
    }
    header>div:first-child{
        display: none;
    }
    
    header>div:nth-child(3){
        display: none;
    }
    header>div:nth-child(2){
        background-color: white;
        height: 208px;
        width: 247px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        border-bottom-left-radius: 20%;
        border-bottom-right-radius: 20% ;
        position: absolute;
        top: -80px;
    }
    
    /*kako da uvecam ikonu?*/
    header img{
        width: 95px;
        height: 67px;
        margin: 30px;
    }
    .search{
        display: none;
    }
    header .menu{
        background-color: unset;
        position: absolute;
        top: -455px;
        left: -320px;
        color: white;
        font-size: large;
        border:none;
        position: fixed;
        height: 100vh;
        
    }
    header .menu > div > ul > li{
       display: inline-block;

    }
   .article>a,
   .audio>a{
       text-decoration: none;
       color: #C6C6D4;
   }
    a{
        text-decoration: underline;
        color: white;
       
    }
    .menu>div:first-child{
        
        
        height: 210px;
        width: 530px;
    }